

    
    <div class="col-md-6">

        <h1 class="text-danger" style="font-family:Algerian">
            ABOUT AudCLOUD
        </h1>
        <h4 class="text-danger" style="font-family:Century">
            AudCloud is the world’s leading social sound platform where anyone can create sounds and share them everywhere.

            Recording and uploading sounds to SoundCloud lets people easily share them privately with their friends or publicly to blogs, sites and social networks.

            It takes just a click to share sounds to Twitter, Tumblr, Facebook and Foursquare.

            AudCloud can be accessed anywhere using the official iPhone and Android apps, as well as hundreds of creation and sharing apps built on the SoundCloud platform.
        </h4>
        <br />
        <h3 class="text-danger" style="font-family:Algerian">
            Don't have a free account yet?
        </h3>
        <a href="SignUp/SignUp" class="btn btn-danger"> sign up</a>

        <br />
        <br />
        <h2 class="text-danger" style="font-family:Algerian">
            Connect With Us :
        </h2>

        <img src="~/Content/images\red.jpg" width="10" height="10" /> <a href="www.facebook.com"> Facebook</a>
        <br />
        <br />
        <img src="~/Content/images\red.jpg" width="10" height="10" /> <a href="www.facebook.com"> Twitter</a>
        <br />
        <br />
        <img src="~/Content/images\red.jpg" width="10" height="10" /> <a href="www.facebook.com"> Tumblr</a>
    </div>



