

    <div class="row">

      

        <h2 class="text-danger" style="font-family:Algerian">
            USAMA BIN AHMED
        </h2>
        <div class="col-md-10">
            <img src="~/Content/images\mine.jpg" width="400" height="300" class="col-lg-4" />
            <h3 class="text-danger" style="font-family:Algerian"> Contact :</h3>
            <br />
            <h4 class="text-danger" style="font-family:Century">0300-8006281</h4>

            <br />
            <h2 class="text-capitalize text-danger" style="font-family:Algerian">Social Media :</h2>
            <img src="images\red.jpg" width="10" height="10" /> <a href="www.facebook.com"> Facebook</a>
            <br />
            <br />
            <img src="~/Content/images/images\red.jpg" width="10" height="10" /> <a href="www.facebook.com"> Twitter</a>
            <br />
            <br />
            </div>
            <h2 class="text-capitalize text-danger" style="font-family:Algerian">Technical Skills:</h2>
            <p class="text-capitalize text-danger">
                <img src="images\red.jpg" width="10" height="10" />C++
                <br />
                <img src="~/Content/images\red.jpg" width="10" height="10" />JAVA
                <br />
                <img src="~/Content/images\red.jpg" width="10" height="10" />DB
                <br />
                <img src="~/Content/images\red.jpg" width="10" height="10" />C#
                <br />
                <img src="~/Content/images\red.jpg" width="10" height="10" />Android

            </p>

        </div>
   





